.header-container{
   position: fixed;
   height: 10vh;
   display: flex;
   z-index: 101;
   justify-content: space-between;
    top: 0;
    background-color: #000000;

    color: white;
    
    padding: 0 10px 0 0 ;
    width: 100%;
   font-weight: 500;
    /* font-size: 16px; */
    
}
.header-container ul {
    display: flex;
    
    white-space: nowrap;

    text-overflow: ellipsis;
    align-items: center;
    padding-left: 10px;
    gap: 2%;
    cursor: pointer;
    margin-left: 15px;

    
}
.header-container ul a{
    position: relative;
        /* Add this */
        text-decoration: none;
        color: white;
        display: inline-block;
        /* Important so pseudo-element fits text only */
        padding: 5px 0;
}
.header-container ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 50%;
    background: linear-gradient(to top, rgba(229, 9, 20, 1), transparent);
    transition: width 0.3s ease;
    z-index: -1;
}
.header-container ul a:hover::after {
  width: 100%;               /* only underline this element */
}
.netflix-img{
   width: 30%;
   height: 100%;

}
.header-container li{
    list-style-type: none;
}
.movie-category{
    display: flex;
    position: relative;
    align-items: center;
    gap: 2px;
}
.right-header{
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-around;
    gap: 8px;
}
.netflix-mobile-logo{
    display: none;
    width: 40%;
    height: 80%;
}
.category-list{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid white;
    display: flex;
    /* flex-direction: column; */
    gap: 8%;
    /* margin-top: 5px; */
}
.hide-category-list{
    display: none;
}
.category-list div li {
    margin-bottom: 10px;
}
.category-list a{
    text-decoration: none;
    color: white;
}
.category-list div li:hover{
    border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 5px;
    /* text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: red;
    text-decoration-thickness: 3px; */
    /* cursor: pointer; */

}
.search-input-container{
    display: flex;
        align-items: center;
        position: fixed;
        top: 10vh;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        width: 40%;
        max-width: 400px;
        min-width: 200px;
}
.search-input{
background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 6px 10px;

    flex: 1;
    /* THIS is what makes it resize */
    min-width: 0;
}
.search-input-arrow{
    margin-left: -2px;
        cursor: pointer;
        background-color: #9b9b9b;
        font-size: 25px;
        /* width: 100%; */
        border:  1px solid white;
        padding: 1px 12px;

}
input::placeholder {
    color: #ffffff;
    /* Desired color for the placeholder text */
    opacity: 0.9;
    padding: 3px 10px;
    /* Ensure full opacity, especially for Firefox */
}

@media (max-width: 768px) {
    
    .latest-li{
        display: none;
    }
    .movies-li{
        display: none;
    }
    .tvshow-li{
        display: none;
    }
    .netflix-img{
        display: none;
    }
        .netflix-mobile-logo {
            display: block;
        }
        .header-container ul{
            padding: 0px;
        }
}
@media (max-width: 900px){
.li-browse-language {
        display: none;
    }
        .header-container ul{
            gap: 5%;
        }
}
@media (max-width: 410px){
    .home-li{
        display: none;
    }
    .header-container ul{
            gap: 3%;
    margin-left: 2px;
        }
        .movie-category{
            gap: 0px;
        }
        .right-header{
            gap: 2px;
        }
        
}