/* *{
    color: aliceblue;
    background: fff;
} */
.banner {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    gap: 15px;
    color: white;
    position: relative;
    margin-top: 10vh;
}
.banner-buttons{
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
    z-index: 10;
}
.my-list-button,
.play-button{
    padding: 12px 40px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 2px;
}
.play-button:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.my-list-button{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.my-list-button:hover{
    background-color: rgba(255, 255, 255, 0.6);
        color: black;
    cursor: pointer;
}
.movie-description{
    width: 350px;
    z-index: 10;
}
.banner_fadeBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40vh;

    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.41),
            #111);
}
@media (max-width:500px) {
    .banner{
        height: 60vh;
        padding-left: 15px;
    }
    .movie-description{
        width: 250px;
        font-size: 14px;
    }
    .my-list-button,
    .play-button{
        padding: 8px 20px;
        font-size: 12px;
    }
        .banner{
            gap: 2%;
        }
        .banner-buttons{
            gap: 10px;
        }
        .banner .movie-description{
            width: 220px;
        }
        .banner h1{
            font-size: 25px;
        }
}